*{
    background-color:white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.header{
    font-family:sans-serif; 
    padding: 0;
    height: 120vh;
    width: 100%;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 8%;
    padding-right: 8%;

}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    font-weight: bold;

}
nav ul li a:hover{
    color: black;
    transition: 0.10sec;
}
.main{
    position: absolute;
    top: 40%;
    left: 15%;
}
.button{
    border-radius: 10%;

}